.nav {
  background: linear-gradient(180deg, var(--main) 70%, #ff633300 100%);
  position: sticky;
  top: 0;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  z-index: 9999;
  color: var(--var-text);
  font-size: 0.9rem;
}